body {
    background-color: black;
    text-align: center;
    color: white;
}

.aquamarine{
    color: aquamarine;
}
.video-container {
    text-align: center;
  }
.image-container {
    text-align: center;
}
.footer{
    text-align: right;
}